{% extends 'base.html' %}
{% block body %}
            <div class="container">
                <h1>Página inicial</h1>
                <h3><img src="/static/pictures/logo.png" alt="" width="52" height="59" class="d-inline-block align-text-top img-fluid ">Hospital Samaritano Campinas</h3>
            </div>
            <div class="containter">

            </div>
<div class=" container shadow-lg p-3 mb-5 rounded">
        <h5 class="fw-bold">Prévia da Lista de Documentos de POPS de Enfermagem do Hospital Samaritano Campinas</h5>

    <hr>
          <table class="table table-transparent fw-bold fst-italic">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nome do Arquivo</th>
                      <th scope="col">Hospital Samaritano Campinas</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td> <a class="text-dark" href="../static/protocolo_alergia_latex.pdf" style="text-decoration:none" target="_blank">Protocolo Alergia Latex</a></td>
                      <td>HSC</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td><a class="text-dark" href="../static/Protocolo Delirium e Contenção.pdf" style="text-decoration:none" target="_blank">Protocolo Delirium e Contenção</a></td>
                      <td>HSC</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td><a class="text-dark" href="../static/Protocolo Plano  de Segurança do Paciente.pdf" style="text-decoration:none" target="_blank">Protocolo Plano  de Segurança do Paciente</a></td>
                      <td>HSC</td>
                    </tr>
                  <tr>
                      <th scope="row">4</th>
                      <td><a class="text-dark" href="../static/Protocolo Flebite.pdf" style="text-decoration:none" target="_blank">Protocolo Flebite</a></td>
                      <td>HSC</td>
                    </tr>
                  <tr>
                      <th scope="row">5</th>
                      <td><a class="text-dark" href="../static/Protocolo Reação e Extravasamento de contraste.pdf" style="text-decoration:none" target="_blank">Protocolo Reação e Extravasamento de contraste</a></td>
                      <td>HSC</td>
                    </tr>
                   <tr>
                      <th scope="row">6</th>
                      <td><a class="text-dark" href="../static/Angina instável e Infarto Agudo do Miocário sem elevação do segmento ST.pdf" style="text-decoration:none" target="_blank">Angina instável e Infarto Agudo do Miocário sem elevação do segmento ST</a></td>
                      <td>HSC</td>
                    </tr>
                   <tr>
                      <th scope="row">7</th>
                      <td><a class="text-dark" href="../static/Dor Torácica.pdf" style="text-decoration:none" target="_blank">Dor Torácica</a></td>
                      <td>HSC</td>
                    </tr>
                   <tr>
                      <th scope="row">8</th>
                      <td><a class="text-dark" href="../static/Dor Torácica EIST.pdf" style="text-decoration:none" target="_blank">Dor Torácica EIST</a></td>
                      <td>HSC</td>
                    </tr>
                   <tr>
                      <th scope="row">9</th>
                      <td><a class="text-dark" href="../static/Protocolo Gerenciado de Infarto Agudo do Miocárdio com Elevação do Segmento ST.pdf" style="text-decoration:none" target="_blank">Protocolo Gerenciado de Infarto Agudo do Miocárdio com Elevação do Segmento ST</a></td>
                      <td>HSC</td>
                    </tr>
                   <tr>
                      <th scope="row">10</th>
                      <td><a class="text-dark" href="../static/Protocolo Gerenciado de Insuficiência Cardíaca.pdf" style="text-decoration:none" target="_blank">Protocolo Gerenciado de Insuficiência Cardíaca</a></td>
                      <td>HSC</td>
                    </tr>


                  </tbody>

          </table>
    <a href=" http://127.0.0.1:5000/" target="_blank" style="..."><button type="button" class="btn btn-danger text-white">Clique aqui para visualizar todos os arquivos </button></a>
    </div>

{% endblock %}