<nav class="navbar navbar-expand-lg navbar-light bg-transparent text-white p-2 mb-0 shadow-lg p-3 mb-5 bg-body rounded">
  <div class="container-fluid">
    <a href="{{ url_for('home') }}"><img src="/static/pictures/logo.png" alt="" width="52" height="59" class="d-inline-block align-text-top img-fluid "></a>
    <a class="navbar-brand text-center" href="/">Hospital Samaritano Campinas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
    </div>
  </div>
</nav>